In [2]:
import pandas

In [3]:
df = pandas.read_excel('s3://picha-ia241-2021spring/Diamonds.xls')

df[:10]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641
5     6    0.31     E     VS1   GIA   1555
6     7    0.31     F     VS1   GIA   1427
7     8    0.31     G    VVS2   GIA   1427
8     9    0.31     H     VS2   GIA   1126
9    10    0.31     I     VS1   GIA   1126

In [4]:
df.describe()

             IDNO      WEIGHT         PRICE
count  308.000000  308.000000    308.000000
mean   154.500000    0.630909   5019.483766
std     89.056162    0.277183   3403.115715
min      1.000000    0.180000    638.000000
25%     77.750000    0.350000   1625.000000
50%    154.500000    0.620000   4215.000000
75%    231.250000    0.850000   7446.000000
max    308.000000    1.100000  16008.000000

In [5]:
df['PRICE']

0       1302
1       1510
2       1510
3       1260
4       1641
       ...
303     8175
304    10796
305     9890
306     8959
307     9107
Name: PRICE, Length: 308, dtype: int64

In [6]:
df[1:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641

In [9]:
df['COLOR']

0      D
1      E
2      G
3      G
4      D
      ..
303    I
304    F
305    H
306    H
307    I
Name: COLOR, Length: 308, dtype: object

In [10]:
df['PRICE'].median()

4215.0

In [11]:
df.groupby('COLOR').std()

            IDNO    WEIGHT        PRICE
COLOR
D      85.771183  0.319462  5604.597897
E      92.162475  0.267736  3604.947727
F      86.389656  0.264792  3350.508710
G      89.906049  0.279169  3143.433850
H      93.037509  0.264278  2912.065633
I      85.005335  0.291757  3066.403870

In [12]:
from scipy import stats

In [15]:
result = stats.linregress( df['WEIGHT'], df['PRICE'] )
print('slope is {}'.format(result.slope))
print('intercept is {}'.format(result.intercept))
print('r square is {}'.format(result.rvalue *result.rvalue))
print('p value is {}'.format(result.pvalue))

slope is 11598.884012882309
intercept is -2298.3576018937993
r square is 0.8925083858672289
p value is 3.0448096265906994e-150

In [18]:
print('The price of a diamond with the weight of {} is ${}'.format(0.9,0.9*result.slope+result.intercept))

The price of a diamond with the weight of 0.9 is $8140.638009700279

In [19]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
     |████████████████████████████████| 636 kB 15.9 MB/s eta 0:00:01
Requirement already satisfied: nltk>=3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from textblob) (3.4.4)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nltk>=3.1->textblob) (1.15.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3

In [20]:
from textblob import TextBlob
result=textblob('i love dog')

NameError: name 'textblob' is not defined

In [21]:
print('The polarity is {}'.format(result.sentiment.polarity))
print('The subjectivity is {}'.format(result.sentiment.polarity))

AttributeError: 'LinregressResult' object has no attribute 'sentiment'